*{
  margint: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}


#banner{
      width: 100%;
      height: 100vh;
      background-image:linear-gradient(rgba(0,0,0,0.5),#009688),url(background.jpg);
      background-size: cover;
      background-position: center;
}
.logo{
      width: 140px;
      position: absolute;
      top: 4%;
      left: 10%;
}
.banner-text{
      text-align: center;
      color: #fff;
      padding-top: 130px;
}
.banner-text h1{
      font-size:80px;
      font-family:'Kaushan Script', cursive;
}
.banner-text p{
      font-size:20px;
      font-family:'Poppins';
}
.banner-btn{
    margin:70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin:0 10px;
    border-radius: 25px;
    padding:12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index:1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height:100%;
    position: absolute;
    border-radius: 25px;
    top: 0;
    left: 0;
    background:#fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%
}
.banner-btn a:hover {
    color: #000;
}

 #sideNav{
    width: 180px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: nonw;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align:center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 30px;
    margin-top: 10px;
    
}
@media screen and (max-width: 770px){
  .banner-text h1{
      font-size:44px;
      font-family:'Kaushan Script', cursive;
   }
   .banner-btn a{
        display: block;
        margin: 20px auto;
     }
}
/*-----AboutUs----*/

#aboutus{
      width: 100%;
      padding: 70px 0;
}
.title-text{
     text-align: center;
     padding-bottom: 70px;
}
.title-text p{
     margin: auto;
     font-size: 20px;
     color: #009688;
     font-weight: bold;
     position: relative;
     z-index: 1;
     display: inline-block;

}
.title-text p::after{
     content: '';
     width:50px;
     height:35px;
     background: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/about.png);
     position: absolute;
     top:-20px;
     left:0;
     z-index: -1;
     transform:rotate(10deg);
     border-top-left-radius:35px;
     border-bottom-right-radius:35px;
}
.title-text h1{
     font-size:50px;
}
.AboutUs-box{
     width: 80%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     align-items:center;
     text-align: center;
}
.features{
     flex-basis:50%;
}
.features-img{
     flex-basis: 50%;
     margin: auto;
}
.features-img img{
     width: 80%;
     border-radius: 10px;
}
.features h1{
     text-align: left;
     margin-bottom: 10px;
     font-weight:100;
     color:#009688;
}
.features-desc{
     display: flex;
     align-items: center;
     margine-bottom:40px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px; 
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width: 770px){
.title-text h1{
     font-size:35px;
}
.features{
     flex-basis:100%;
}
.features-img{
     flex-basis: 100%;
     
 }
.features-img img{
     width:100%;
}
}
/*--service--*/

#service{
     width: 100;
     padding: 70px 0;
     background-color: #efefef;
}
.service-box{
     width:40%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin:auto;
}
.single-service{
    flex-basis:48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom:20px;
    color:#019587;
    position: relative;
}
.single-service img{
    width: 100%;
    
    
    border-radius: 15px;
}
.overlay{
    width: 100%;
    height:100%;
    position: absolute;
    top:0%;
    border-radius: 7px;
    cursor: pointer;
    background-color: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 5s;
}
.single-service:hover.overlay{
    opacity:1.0;
}
.text{
   color:white;
   font-size: 15px;
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%);
   text-align:center;
}

